*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* .wrapper{
  width:1200px;
  margin:100px auto;
} */
.title{
  text-align:center;
  margin-bottom:60px;
}
.title h4{
  text-transform:capitalize;
  font-size:36px;
  position:relative;
  display:inline-block;
  padding-bottom:10px;
}
.title h4 span{
  display:block;
  font-size:18px;
  font-style:italic;
  margin-bottom:-10px;
}
.title h4:before{
  position:absolute;
  content:"";
  width:100px;
  height:2px;
  background-color:#ff7720;
  bottom:0;
  left:50%;
  /* transform:translateX(-50%); */
}
.menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.single-menu{
  float: basis 400px;;
  margin-bottom:10px;
  padding-bottom:10px;
}
/* .single-menu:nth-child(5), .single-menu:nth-child(6){
  border-bottom:0;
} */
.single-menu{
  display:flex;
  flex-direction:row;
  align-items:center;
}

.single-menu img{
 width: 60px;
 height: 60px;
 border-radius: 50%;
 
}
.single-menu h4{
  text-transform:capitalize;
  font-size:18px;
  font-weight: 700;
  border-bottom:1px dashed #dfc8a7;
  margin-bottom:5px;
  padding-bottom:5px;
  color: #7f7f7f;
}
.single-menu h4 span{
  float:right;
  color:#c49b63;
  font-style:italic;
  font-size: 15px;

}

.single-menu p{
	font-size: 15px;
	color: #424141;

}

